<div class="container">
  <%= render partial: "layouts/flash" %>
  <table class="table">
    <thead>
      <tr>
        <th>Loan Title</th>
        <th>Quantity Purchased</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @loan_quantities.each do |loan, quantity| %>
        <tr>
          <td><%= loan.title %></td>
          <td><%= quantity %></td>
          <td><%= number_to_currency(quantity * loan.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <h2 class="col-xs-6">Name</h2>
    <h2 class="pull-right"><%= @user.full_name %></h2>
  </div>
  <div class="row">
    <h2 class="col-xs-6">Address</h2>
    <h2 class="pull-right"><%= @user.address %></h2>
  </div>
  <div class="row">
    <h2 class="col-xs-6">Order Date</h2>
    <h2 class="pull-right"><%= @order.date %></h2>
  </div>
  <div class="row">
    <h2 class="col-xs-6">Status</h2>
    <h2 class="pull-right"><%= @order.status %></h2>
  </div>
  <div class="row">
    <h2 class="col-xs-6">Total</h2>
    <h2 class="pull-right"><%= number_to_currency(@order.total_cost) %></h2>
  </div>
</div>
