<div class="container">
  <div class="col-md-12">
    <div class="show-loan">
      <%= image_tag @loan.avatar.url %>
      <div class="caption-full">
          <h4 class="pull-right"><%= "Price: #{number_to_currency(@loan.price)}" %></h4>
          <h4><a href="#"><%= @loan.title %></a></h4>
          <p class="pull-right"><%= @loan.status %></p>
          <p><%= @loan.description %></p>
      </div>
    </div>
  </div>
</div>
